.tabs-wrapper {
	/*max-width: 600px;*/
	float: left;

	/* lines below are temp for widget-arrow */	
    position: relative;
    z-index: 20;
}

.tabs-wrapper [type=radio] {
	display: none;
}

.tabs-wrapper .tab-label {
    background: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px;
    display: inline-block;
    
    border-top: 1px solid #D2CDC1;
    border-left: 1px solid #D2CDC1;
    border-right: 1px solid #D2CDC1;
}

.tabs-wrapper .tab-label::-moz-selection {
	color: inherit;  
	background: none; 
}

.tabs-wrapper .tab-label::selection {
	color: inherit;  
	background: none; 
}
  
.tabs-wrapper .tab-label:hover {
    cursor: pointer;
}

#tab1:checked + .tab-label,
#tab2:checked + .tab-label,
#tab3:checked + .tab-label,
#tab4:checked + .tab-label {
    background: #f3f3f3;
    position: relative;
    top: 1px;
    padding-top: 11px;
}


#tab1 ~ .tab-body-wrapper #tab-body-1,
#tab2 ~ .tab-body-wrapper #tab-body-2,
#tab3 ~ .tab-body-wrapper #tab-body-3,
#tab4 ~ .tab-body-wrapper #tab-body-4 {
  display: none;
 }

#tab1:checked ~ .tab-body-wrapper #tab-body-1,
#tab2:checked ~ .tab-body-wrapper #tab-body-2,
#tab3:checked ~ .tab-body-wrapper #tab-body-3,
#tab4:checked ~ .tab-body-wrapper #tab-body-4 {
  display: block;
}

.tab-body-wrapper {
	border: 1px solid #ccc;
	padding: 10px 30px 30px 30px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f3f3f3;
} 

.tab-body-wrapper h3 {
	text-align: center;
} 

@media (min-width: 666px) {
	nav ul li {
		border-right: 1px solid #666;
	    display: inline-block;
	    line-height: .9em;
	    margin-right: .7em;
	    padding-right: 1em;
	}    
	
	.lastMenuEntry {
		border-right: none;
	    margin-right: 0;
	    padding-right: 0;
	}    
	
	.tabs-wrapper {
	    margin-right: 2em;
	}
}    

@media (max-width: 666px) {
  .tabs-wrapper .tab-label {
  	width: 100%;
  	padding: 15px 10px;
  }
  
	#tab1:checked + .tab-label,
	#tab2:checked + .tab-label,
	#tab3:checked + .tab-label,
	#tab4:checked + .tab-label {
	    background: #f3f3f3;
	    position: relative;
	    top: 0px;
	    padding-top: 10px;
	}
}