<nav class="site-nav">

  <ul>

    <li>
      <a href="/"> <!-- Place the link inside the double quotes -->
        Home <!-- The text of the link -->
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a href="/archives">
        Archives
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

    <li>
      <a href="/contact">
        Contact
        <div class="border1"></div>
        <div class="border2"></div>
      </a>
    </li>

  </ul>

</nav>